<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<style th:replace="fragments.html :: style-nomalrize"></style>
<style>
    .list-group-item {
        margin-bottom: 5px !important;
    }
</style>
<body>
<div class="container">
    <nav th:replace="fragments.html :: main-nav"></nav>
    <h3>반려동물 목록</h3>
    <div class="pet_list">
        <div th:if="${petList}">
            <ul class="list-group">
                <div class="pet-list" th:each="pet : ${petList}">
                    <a th:href="@{'/pet-detail/'+ ${pet.id}}">
                        <li class="list-group-item">
                            <span th:text="${pet.pet_name}"></span> /
                            <span class="pet-birth" th:text="${pet.pet_birth}"></span> 살
                        </li>
                    </a>
                </div>
            </ul>
        </div>
        <div th:if="!${petList.size()}">
            <p>등록된 반려동물이 없습니다. 반려동물을 등록해주세요</p>
        </div>
        <div>
            <a class="btn btn-default" href="/">홈으로</a>
            <a class="btn btn-default" href="/pet-register">반려동물 신규등록</a>
        </div>
    </div>
    <div th:replace="fragments.html :: menu-group"></div>
    <footer th:replace="fragments.html :: footer"></footer>
</div>
</body>
<script>
    $(function () {
        petAgeCheck();
    });

    //펫 나이 계산
    function petAgeCheck () {
        $('.pet-list').each(function () {
            //문자열이므로 앞에 년도만 잘라주기
            const birth = $(this).find('.pet-birth').text().substring(0, 4);
            const today = new Date();
            $(this).find('.pet-birth').text((today.getFullYear() - birth) + 1);
        });
    }
</script>
</html>