<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<style th:replace="fragments.html :: style-nomalrize"></style>
<style>
    .dl-tr {
        height: 50px;
    }
</style>
<body>
<div class="container">
    <nav th:replace="fragments.html :: main-nav"></nav>
    <h3>펫 목록</h3>
    <table>
        <tr class="dl-tr" th:each="pet : ${petList}">
            <td>
                <a th:href="@{'/diary-list/'+ ${pet.id}}">
                # <span th:text="${pet.pet_name}"></span>
                </a>
            </td>
        </tr>
    </table>
    <div th:replace="fragments.html :: menu-group"></div>
    <footer th:replace="fragments.html :: footer"></footer>
</div>
</body>
<script>

</script>

</html>