<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<style th:replace="fragments.html :: style-nomalrize"></style>
<style>
    .diary-title {
        font-size: 20px;
    }

    .diary-num {
        padding: 0 0 15px 0;
        text-align: center;
    }
    .diary-date{
        font-size: 12px;
        color: gray;
    }

    .diary-content {
        color: darkgray;
    }
</style>
<body>
<div class="container">
    <nav th:replace="fragments.html :: main-nav"></nav>
        <div th:object="${diaryForm}">
                <div class="diary-num"><span th:text="${pet.pet_name}"></span>의 <span th:text="*{num}"></span><span>번째 일기❤︎</span></div>
<!--            <div>-->
<!--                <span>등록일 : </span><span th:text="*{#temporals.format(createdDate, 'yyyy-MM-dd HH:mm')}"></span>-->
<!--            </div>-->
<!--            <div>-->
<!--                <span>수정일 : </span><span th:text="*{#temporals.format(modifiedDate, 'yyyy-MM-dd HH:mm')}"></span>-->
<!--            </div>-->
            <div>
                <span class="diary-title" th:text="*{title}"></span><br>
                <p class="diary-date"># <span th:text="*{#temporals.format(createdDate, 'yyyy-MM-dd')}"></span></p>
            </div>
            <div th:if="*{reply != null || picture != null}">
                <a th:onclick="'location.href=\'/diary-update/'+ @{${diaryForm.id}} + '\''">
                    <div>
                        <img id="imgView" th:src="*{picture}" style="width: 100%;">
                    </div>
                    <br>
                    <div th:if="*{reply}">
                        <span th:text="*{reply}"></span>
                    </div>
                </a>
            </div>
            <div th:if="*{reply == null && picture == null}">
                <div>
                    <a th:onclick="'location.href=\'/diary-update/'+ @{${diaryForm.id}} + '\''">
                        <p class="diary-content" th:text="*{content}"></p>
                    </a>
                </div>
            </div>
        </div>
    <div th:replace="fragments.html :: menu-group"></div>
    <footer th:replace="fragments.html :: footer"></footer>
    <div class="fakeLoader" style="display: none"><img src="/images/loading.gif" alt="fakeLoader" style="width: 100%"></div>
</div>

<script type="text/javascript">
    function updateDiary(id) {
        location.href = '/diary-update/' + id;
    }
</script>

</body>


</html>