<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<style th:replace="fragments.html :: style-nomalrize"></style>
<style>
 .dl-th {
    width: 30%;
    text-align: center;
  }
 .dl-tr {
 height: 50px;
 }
</style>
<body>

<div class="container">
  <nav th:replace="fragments.html :: main-nav"></nav>
  <h3>일기장 목록</h3>
      <table th:each="diary : ${diaryList}">
          <tr class="dl-tr">
            <th class="dl-th">
              # <span th:text="${diary.num}"></span>
            </th>
              <td>
                  <a th:href="@{'/diary-detail/'+ ${diary.id}}">
                    <span th:text="${diary.title}"></span>
                  </a>
              </td>
          </tr>
      </table>
  <footer th:replace="fragments.html :: footer"></footer>
</div>
</body>
<script>

</script>

</html>