<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<style th:replace="fragments.html :: style-nomalrize"></style>
<style>
    .login-btn {
        text-align: center;
    }

    .login-btn-div {
        color: #737373;
        border-radius: 27px;
        border: 1px solid #e1e2e3;
        background-color: #fff;
        height: 50px;
        width: 250px;
        display: block;
        margin: 15px auto;
        padding: 10px;
    }

    .login-icon {
        width: 20px;
    }

    .login-btn-text {
        font-weight: 700;
    }

</style>
<body>
<div class="container">
    <nav th:replace="fragments.html :: main-nav"></nav>
    <div style="text-align: center;">
        <div style="margin-bottom: 50px;">
            <h4 style="margin-bottom: 40px; margin-top: 40px; font-weight: 700;">내꼬냥</h4>
            <h3 style="margin-bottom: 15px;">소중한 나의 반려동물<br> 일기</h3>
            <span>하나뿐인 나의 소중한 반려동물의 <br> 기록을 쉽고 편하게 관리해 보세요 !</span>
        </div>
        <!--   유저 정보가 담겨있으면, 유저의 정보를 노출시켜줌     -->
        <div th:if="${userName}" class="main-menu-box">
            <div>
                <p>환영합니다 <span th:text="${userName}" style="font-weight: 600;"></span> 님</p>
            </div>
            <div>
                <a class="btn btn-default" href="/pet-register">반려동물 등록</a>
                <a class="btn btn-default" href="/pet-list">반려동물 목록</a>
                <a class="btn btn-default" th:if="${userName}" href="/logout">로그아웃</a>
            </div>
            <div>
                <a class="btn btn-default" href="/diary-petList">일기장</a>
            </div>
<!--<div style="margin-top: 15px;">-->
<!--    <a class="user-information" href="#" th:alt="노션링크">사용자 안내 확인 -></a>-->
<!--</div>-->
        </div>
        <div th:if="!${userName}" class="login-btn">
            <button class="login-btn-div" onclick="location.href='/oauth2/authorization/google'"><img class="login-icon" src="/images/google_logo.png"/>
                <span class="login-btn-text">구글 아이디</span> 로 로그인
            </button>
            <button class="login-btn-div" onclick="location.href='/oauth2/authorization/naver'"><img class="login-icon" src="/images/naver_logo.png"/>
                <span class="login-btn-text">네이버 아이디</span> 로 로그인
            </button>
            <span style="font-size: 0.825rem; font-weight: 100;">회원가입 시 개인정보 처리방침과 이용약관을 확인하였으며, 이에 동의합니다.</span>
        </div>
    </div>
    <footer th:replace="fragments.html :: footer"></footer>
</div>
</body>
<script>
    $(function () {
        //메인화면 뒤로가기 버튼 숨김처리
       $('.glyphicon-menu-left').hide();
    });
</script>
</html>